<div class="containerInputs">

<h3> students: {{numOfStudents}} </h3>
&nbsp;
<img src="../../assets/imges/Minus-02.png" height="30" width="60" (click)="minusStudents()">
&nbsp;
<img src="../../assets/imges/Plus-01.png" height="30" width="60" (click)="plusStudents()">
<br>
<br>
<h3> Teachers:  {{numOfTeachers}} </h3>
&nbsp;
<img src="../../assets/imges/Minus-02.png" height="30" width="60" (click)="minusTeachers()">
&nbsp;
<img src="../../assets/imges/Plus-01.png" height="30" width="60" (click)="plusTeachears()">


<br><br><br><br><br><br>
<input type="button" height="80" width="120" value="make memory" (click)="sendNumForArrey()">

</div>
